.loginFormDiv {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: black; */
}

.loginFormDiv .loginHeading {
    margin-top: 4rem;
}

.loginForm {
    
    width: 95vw;
    padding: 4rem;
}
.loginForm input{
    
     border: 2px solid black;
}

.loginForm #loginButton {
    text-align: center;
    width: 100%;
    height: 3rem;
    background-color: rgb(77, 228, 77);
    border: 2px solid black;
    cursor: pointer;
}

.loginForm #loginButton:active {
    box-shadow: 2px 2px 2px rgb(44, 43, 43);
}

.loginForm .signUpDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 3px 7px rgb(74, 72, 72);
    height: 3rem;
    margin-top: 2rem;
    width: 100%;
    /* border: 2px solid rgb(118, 114, 114); */
}