.ErrorMessage {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #ffefba, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ErrorMessage h1 {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}